//- Variables
- var title = 'Morph test'

//- HTML
doctype html
html(lang='en')
    meta(charset="utf-8")
    title #{title}
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width shrink-to-fit=no')
    link(rel="stylesheet", href="main.css")
body
    h1 #{title}
    canvas(width=768, height=512)
    hr
    b Keyboard control
    ul
        li Space: 全体切り替え
        li a:左目切り替え
        li s:右目切り替え
        li d:鼻切り替え
        li f:口切り替え
         
    script(src='bundle.js', type='text/javascript')
