//- Select webcam / file upload
section#makeface.modal(
  v-if="detect.scene !== ''"
  v-bind:class="{ 'mobile':isMobile, 'pc':!isMobile }"
)
  include parts/cross-frame
  .container
    .makeface-icon(v-if="isMobile")
    h3 ADD YOUR SELF
    p(v-if="!isMobile") 自分の顔で遊ぶ
    .vcenter
      #capture-button.button.big-button(v-on:click="startWebcamFaceDetect")
        .icon
        span {{ isMobile ? 'From in-Camera' : 'From Web Camera' }}
      #cameraroll-button.button.big-button(v-on:click="startPhotoFaceDetect")
        .icon
        span From Photo
    .legal.button.round-button(v-on:click="detect.scene = 'legal'")
      | > 画像使用に関する免責事項 <
    .button.close-button(v-if="isMobile" v-on:click="makeFaceCancel")
      include parts/button-close
  .button.back-to-top-button(v-if="!isMobile" v-on:click="makeFaceCancel")

//- Capture from webcam
transition(v-on:enter='enterFaceDetect')
  section#makeface-capture.modal(
    v-if="detect.scene == 'capture'"
    v-bind:class="{ 'mobile':isMobile, 'pc':!isMobile }"
  )
    include parts/cross-frame
    .container
      .preview(ref='preview')
        canvas#makeface-canvas(ref='detectFaceCanvas')
        canvas#makeface-overlay(ref='detectFaceOverlay')
      .overlay
        .makeface-icon(v-if="isMobile")
        svg.guide(viewBox='0 0 512 512')
          ellipse(cx='256' cy='256' rx='120' ry='160')
        p.guide 顔を正面に向け、
          br
          | 枠内に合わせてください
      .button.close-button(v-on:click="detect.scene = 'select'")
        include parts/button-close
    .button.back-to-top-button(v-if="!isMobile" v-on:click="makeFaceCancel")

//- Confirm
transition(v-on:enter="resizePreview($refs.preview)")
  section#makeface-confirm.modal(
    v-if="detect.scene == 'confirm'"
    v-bind:class="{ 'mobile':isMobile, 'pc':!isMobile }"
  )
    include parts/cross-frame
    .container
      .preview(ref='preview')
        img.result-img(ref='resultImgElement'
          v-bind:src='detect.resultImage.src')
      .overlay
        .makeface-icon(v-if="isMobile")
        .vcenter
          p これで良いですか？
          .ok-button.button(v-on:click="addNewFace")
            | OK
          .retake-button.button(v-on:click="detect.scene = 'select'")
            | RETRY
  
//- Failure Retry 
section#makeface-retry.modal(
  v-if="detect.scene == 'retry'"
  v-bind:class="{ 'mobile':isMobile, 'pc':!isMobile }"
)
  .container
    .preview(is="face-preview")
    .overlay
      .makeface-icon(v-if="isMobile")
      .vcenter
        p 顔認識に失敗しました。他の写真をお試し下さい。
        #retake-button.button(v-on:click="detect.scene = 'select'")
          | RETRY

//- Privacy policy
section#makeface-legal.modal(
  v-if="detect.scene == 'legal'"
  v-bind:class="{ 'mobile':isMobile, 'pc':!isMobile }"
)
  .container
    .makeface-icon(v-if="isMobile")
    h3 > 画像使用に関する免責事項 <
    p MoFace（以下、「当サイト」）は、Invisible Design Lab（以下、「当社」）が企画運営するwebサイトです。当サイトを利用される方（以下、「利用者」）は、当サイトから写真をアップロード、又はwebカメラを用いて撮影して頂いた時点で、この免責事項に同意されたものとして扱わせていただきます。
    p webカメラを用いて撮影された画像、アップロード画像および生成画像にかかる著作権・肖像権（パブリシティ権を含み、以下「肖像権等」といいます）は、利用者に帰属するものとします。また、当サイトを利用した事により作られる生成動画の著作権は当社および当社が使用をみとめた権利者に帰属します。
    p 利用者は、当社によるwebカメラを用いて撮影された画像、アップロード画像および生成画像の複製、翻案、公衆送信、出版、上演、展示、貸与、二次的著作物の創作およびその利用について無償で利用許諾するものとし、利用者は肖像権等および著作者人格権を行使しないものとします。
    p 当社は、webカメラを用いて撮影された画像、アップロード画像、生成画像および生成動画をテレビ、ラジオ、インターネット、看板、掲示、ポスター、新聞、雑誌、書籍、パンフレット類など、当社が本サイトの広告宣伝等のために必要と判断する利用目的において、期間、地域、回数、利用方法の制限なく、利用できるものとします。
    p 利用者以外の第三者が著作権その他の権利を有する画像、利用者以外の第三者の肖像を含む画像、利用者以外の第三者が著作権その他の権利を有する素材を含む画像、作成・投稿または公開が、利用者以外の第三者の著作権、肖像権等その他の権利を害する画像をアップロードすることはできません。webカメラを用いて撮影する場合も同様に、利用者以外の第三者が著作権その他の権利を有する画像やフィギュア、人形などの立体物、利用者以外の第三者の肖像を含む画像、フィギュア、人形などの立体物、利用者以外の第三者が著作権その他の権利を有する素材を含む画像、フィギュア、人形などの立体物、作成・投稿または公開が、利用者以外の第三者の著作権、肖像権等その他の権利を害する画像、フィギュア、人形などの立体物をwebカメラを用いて撮影することはできません。
    p 当サイトから投稿された画像、webカメラを用いて撮影された画像および、内容は利用者の自己責任の下で利用されたものとします。利用者は、当サイトを利用して行われた一切の行為お よびその結果について一切の責任を負うものとします。ただし、当社が必要と判断した場合、当サイト内のデータを削除する権利を保有します。
    p 著作権に違反する写真を使用しないこと。他人のプライバシーを侵害する投稿、撮影を行わないこと。他人の気分を害する投稿、撮影を行わないこと。その他、違法、脅迫的、中傷的、侮辱的、わいせつ、下品、扇動的、性的、犯罪行為を助長し、民事責任を生じさせ、法律に違反する投稿、撮影を行わないこと。当社は、これらに該当する責任を負うものではありません。
  .button.close-button(v-on:click="detect.scene = 'select'")
    include parts/button-close